{% extends "base.html.twig" %}

{% block body %}

<main class="mainForm">

  <section class="sectionBtn">
    <a href="{{ path('home') }}"><button class="btn">Retour sur le site</button></a> 
    <a href="{{ path('security_registration') }}"><button class="btn">Créer un compte</button></a> 
  </section>


  <section class="sectionForm">
    <h1 class="titleForm">Connexion !</h1><br/>
    <form action="{{ path('security_login') }}" method='post'>
      <div>
        {# <label for="_username">Pseudo :</label><br/><br/> #}
        <input class='fieldFormLogin' type="text" placeholder="Pseudo ..." required name='_username'>
      </div>
      <br/>
      <div>
        {# <label for="_password">Mot de passe :</label><br/><br/> #}
        <input class='fieldFormLogin' type="password" placeholder="Mot de passe ..." required name='_password'>
      </div>
      <br/>
      <div>
        <button class='btn-submit' type="submit">Connexion !</button>
      </div>
    </form>
  </section>

</main>

{% endblock %}