{% extends 'basevue.html.twig' %}

{% block meta %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="portfolio, Maxime, Gauthier, developpeur, web">
</head>

{% endblock %}

{% block title %}Bureau de Maxime{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>CHARGEMENT DU SITE</h1>

</div>

{% endblock %}
