*{
    font-family: 'Ubuntu', sans-serif;
}
.bodyNotVue{
    overflow: hidden;
}
.mainForm{
    display: flex;
    flex-direction: column;
}
.sectionBtn{
    text-align: center;
    margin-top: 10px;
}
.btn{
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
    height: 40px;
    width: 150px;
}
.btn:hover{
    background-color: white; 
    color: black;
    cursor: pointer;
}
.btn-submit{
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    height: 30px;
    width: 100px;
}
.btn-submit:hover{
    background-color: white; 
    color: black;
    cursor: pointer;
}
.sectionForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.titleForm{
    font-size: 50px;
}

/* compatibilitée hover sur téléphone */
@media(hover: hover){}
@media(any-pointer: coarse){}
